#battleground .card-image {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.card-image {
  height: 200px;
  width: auto;
  position: relative;
}

.card-image-container {
  position: relative;
}
.card {
  margin: 0 0.5%;
}

.hand {
  display: flex;
  width: 70%;
  margin: 0 1%;
}

.rotated {
  transform: rotate(90deg);
}

#battleground {
  height: 475px;
  margin-bottom: 25px;
  background: green;
  z-index: -1;
  display: flex;
  align-items: center;
  vertical-align: bottom;
  width: 70%;
}

/* React draggable element  */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  color: #222;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 200;
  margin: 0 50px;
}

.react-draggable,
.cursor {
  cursor: move;
}
.no-cursor {
  cursor: auto;
}
.cursor-y {
  cursor: ns-resize;
}
.cursor-x {
  cursor: ew-resize;
}

.react-draggable strong {
  background: #ddd;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  margin-bottom: 10px;
  padding: 3px 5px;
  text-align: center;
}

.box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  width: 180px;
  height: 180px;
  margin: 10px;
  padding: 10px;
  float: left;
}
